* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e1e1e1;
}
.btnWr {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #525252;
}
.btn {
  color: rgba(255, 255, 255, 1);
  padding: 1vw 0;
  margin: 0 1rem;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  width: 170px;
}
.btn:hover {
  color: #e6ff4a;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  transition: 333ms;
  opacity: 0;
  pointer-events: none;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
}
.modal-content {
  position: relative;
  color: white;
  width: 180mm;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(231, 76, 60);
  transform: scale(0.1);
  transition: 0.5s all;
}
.modal-title {
  background-color: rgb(212, 70, 55);
  border-radius: 8px;
  font-size: 24px;
  padding: 7px 0 7px 27px;
  text-align: left;
}
.modal-content.active {
  transform: scale(1);
}
.modal-text {
  margin-top: 5%;
  padding: 0 30px 0 30px;
}
.modal-btn-wr {
  margin: 30px 0 20px 0;
}
.modal-btn {
  margin: 15px 5px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(179, 56, 44);
  border: none;
  border-radius: 8px;
  padding: 15px 25px;
}
.modal-btn:hover {
  background-color: #252323;
  transition: 300ms;
}
.close{
  position: absolute;
  background-color: rgb(212, 70, 55);
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 17px;
  left: 7px;
  width: 26px;
  height: 4px;
  background: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:hover {
  background-color: rgb(121, 41, 32);
}