.item{
  border: 2px rgb(58, 58, 58) solid;
  background-color: #efefef;
  border-radius: 3px;
  cursor: pointer;

  &__image{
    margin-bottom: 10px;
    width: 240px;
    height: 250px;
  }

  &__name{
    margin: 0 0 10px 5px;
  }

  &__article{
    margin: 0 0 10px 5px;
  }

  &__color{
    margin: 0 0 10px 5px;
  }

  &__price{
    margin: 0 0 10px 5px;

    &--big{
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__add-btn{
    margin: 0 0 10px 5px;
    padding: 5px 15px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  &__add-btn:hover {
    background: rgb(93, 93, 93);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(93, 93, 93);
    transition: 300ms;
  }
  &__buttons-container{
    display: flex;
    vertical-align: center;
    justify-content: space-between;
  }
  &__favorite-btn{
    cursor: pointer;
    background: none;
    border: none;
  }
}
.unFavIc:hover{
  fill: rgb(255, 71, 71);
  stroke: rgb(183, 170, 170);
  transition: 300ms;
}