.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45A29E;
    min-height: 70px;
    width: 100%;
}

.header__logo {
    cursor: pointer;
    padding: 0 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 10px;
    .logo {
        width: 110px;
        height: 50px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 4px;
    }
    .logo-text {
        color: white;
        margin: 0 0 3px 0;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
    }
}

.header__actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .header__cart-list {
        display: flex;
        align-items: center;
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        .icon-cart {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            margin-left: 8px;

            svg {
                width: 100%;
                fill: currentColor;
            }

            .count {
                position: absolute;
                top: -8px;
                font-weight: 700;
                right: -11px;
                font-size: 12px;
                color: #ffdb75;
            }
        }
    }

    .header__favorites-list {
        display: flex;
        align-items: center;
        color: #000000;
        font-size: 16px;

        .icon-favorite {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            margin-left: 8px;

            svg {
                width: 100%;
                fill: currentColor;
            }

            .count {
                position: absolute;
                top: -8px;
                font-weight: 700;
                right: -3px;
                font-size: 12px;
                color: #ffdb75;
            }
        }
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}