.item{
  border: 2px rgb(58, 58, 58) solid;
  background-color: #efefef;
  border-radius: 3px;
  padding: 1px;
  cursor: pointer;

  &--cart{
    border: 2px rgb(58, 58, 58) solid;
    background-color: #efefef;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
  }

  .item__logo-container{
    width: 240px;

    &--cart{
      width: 240px;
      height: 250px;
      border-radius: 3px;
      }
  }

  &__image{
    width: 240px;
    height: 250px;
    border-radius: 3px;

    &--cart{
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  &__name{
    margin: 0 0 10px 8px;
  }

  &__article{
    margin: 0 0 10px 8px;
  }

  &__color{
    margin: 0 0 10px 8px;
  }

  &__price{
    margin: 0 0 10px 8px;

    &--bold{
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__add-btn{
    margin: 0 0 10px 5px;
    padding: 5px 15px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  &__add-btn:hover {
    background: rgb(93, 93, 93);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(93, 93, 93);
    transition: 300ms;
  }
  &__buttons-container{
    display: flex;
    vertical-align: center;
    justify-content: space-between;
  }
  &__favorite-btn{
    cursor: pointer;
    background: none;
    border: none;
  }
  .unFavIc:hover{
    fill: rgb(255, 71, 71);
    stroke: rgb(183, 170, 170);
    transition: 300ms;
  }
}